<!DOCTYPE html>
<html 
	lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
	<title>NICEFITAPP</title>
</head>
<body>
    <table>
        <tr>
            <td>                
            	<h1>NICEFITAPP</h1>	
			</td>
        </tr>
        <tr>
         	<td>                
            	<p th:text="|Nome do aluno(a): ${nome}|">Nome do aluno</p>
            	<p th:text="|Email: ${email}|">email@email.com</p>
            	<p th:text="|Telefone: ${telefone}|">(00) 00000-0000</p>
            	<p th:text="|Modalidade que gostaria: ${modalidade}|">Yoga</p>            	                            	
            </td>
        </tr>
        <tr>
            <td>
                <p>&copy; 2020 NICEFITAPP. Todos os direitos reservados.</p>
            </td>
        </tr>
    </table>  
</body>
</html>